<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div id="response-container">
      <ul>
        <h3>Info Submitted:</h3>
        <li>Name: {{ name }}</li>
        <li>Location: {{ location }}</li>
        <li>Language: {{ language }}</li>
        <li>Comments: {{ comments }}</li>
        <button type="submit">Go back</button>
      </ul>
    </div>
  </body>
</html>
