*{
  margin-left: auto;
  margin-right: auto;
}

.row{
  min-height: 100px;
}

.square-color-1{
  background-color: red;
  display: inline-block;
  height: 110px;
  width: 110px;
}

.square-color-2{
  background-color: black;
  display: inline-block;
  height: 110px;
  width: 110px;
}

.color{
    background-color:var(--color1);/*retrieve color from variable*/
    background-color:var(--color2);/*retrieve color from variable*/
}
