h2 {
  color: cadetblue;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 70%;
}

th, tr, td {
  padding: 5px;
  border: 2px solid black;
}

hr {
  width: 70%;
  height: 1.5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(36,0,0);
}

#bottom {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#bottom label{
  margin-left: 15px;
}
